/* main - Section Général */
#Section_Train, #Section_Restaurant, #Section_Guide {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
}

/* main - Section Général - Image */
#Section_Train img, #Section_Restaurant img, #Section_Guide img {
    width: 100%;
    height: auto;
}
#Section_Train img.alternativeA_border_color, #Section_Guide img.alternativeA_border_color {
    border: 3px solid #A0522D;
}
#Section_Restaurant img.alternativeB_border_color {
    border: 3px solid #FFD700;
}

/* main - Section Général - alternance couleur A */
#Section_Train, #Section_Guide {
    background-color: #32CD32;
    border-top: 3px solid #A0522D;;
    border-bottom: 3px solid #A0522D;;
}

/* main - Section Général - alternance couleur B */
#Section_Restaurant {
    border-top: 3px solid #FFD700;
    border-bottom: 3px solid #FFD700;
    background-color: #228B22;
}

/* main - Section Général - Alignement du texte */
p {
    text-align: justify;
}