/*couleur 
#87cfebE0 = bleutransparent
87CEEB = bleu
A0522D = marron
228B22 = vert fonce
FFD700 = jaune
32CD32 = vert claire
FFFFFF = blanc

Texte :
Quicksand Bold 48
Quicksand Semibold 12 (mobile)
*/

/* Styles Global */
body {
    font-family: "Quicksand", Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    background-color: #87CEEB;
}

h1 {
    padding-top: 1%;
    text-align: center;
    margin: 0%;

}
hr {
    height: 2px;
    background-color: #A0522D;
    border: none;
    width: 40%;
}

/* header - Nav Général */
#Section_Navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #87cfebE0;
    padding: 5px 0;
    z-index: 10;
    color: white;
    border-bottom: 5px solid #A0522D;
}

/* header - Alignement Nav */
#Section_Navigation nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

/* header - Alignement du menu */
#Section_Navigation nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

/* header - Design du menu en hover */
#Menu li:hover {
    color: #FFD700;
    font-size: ;
}

/* header - Design du boutton connexion */
#Connexion {
    border: 3px solid #FFD700;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 1cap;
    background-color: #32CD32;
}

/* header - Design du boutton en hover */
#Connexion:hover {
    border: 3px solid #A0522D;
    background-color: #FFD700;
    color: #A0522D;
}

/* header - Ajustement bannière */
#Section_Banniere img {
    display: flex;
    width: 100%;
    height: auto;
}